---
import 'normalize.css';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Product designer Jess's portfolio website"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="/favicon.svg" alt="Jess's logo" />
                    </a>
                </div>
                <div class="nav-wrapper">
                    <button class="nav-item">
                        <span class="nav-item__label nav-item__label--bold"
                            >Projects</span
                        >
                        <img
                            src="/icons/keyboard-arrow-down.svg"
                            alt="Arrow down"
                        />
                    </button>
                    <a href="/" class="nav-item__label">Experiments</a>
                    <a href="/" class="nav-item__label">Interests</a>
                    <a href="/" class="nav-item__label">Contact</a>
                </div>
            </nav>
        </header>
        <main>
            <slot />
        </main>
        <footer></footer>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: 'Pretendard Variable';
        font-weight: 45 920;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
    }

    :root {
        --Black: #2d2d2d;
    }

    html {
        font-family: 'Pretendard Variable';
        background: #ededed;
    }

    a {
        text-decoration: none;
    }

    button {
        border: none;
        background-color: transparent;
    }
</style>
<style>
    header {
        padding: 11px 96px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-wrapper {
        width: 40px;
        height: 40px;
    }

    .nav-wrapper {
        display: flex;
        gap: 40px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .nav-item__label {
        color: var(--Black);
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }

    .nav-item__label--bold {
        font-weight: 700;
    }
</style>
